body{
    background-color: aquamarine;
}


#header{
    text-align: center;
    color: red;
}

#form{
    width: 40%;
    
    margin: auto;
}

input[type="text"],input[type="email"],input[type="number"]{
    width: 100%;
    height: 30px;
    outline: none;
    border-radius: 9px;
    border: 2px solid rgb(77, 0, 95);

}

input[type="text"]:focus,input[type="email"]:focus,input[type="number"]:focus{
   border: 2px solid rgb(217, 124, 32);

}

input[type="radio"]:checked + label{
    color: red;
    text-transform: uppercase;
}

input[type="checkbox"]:enabled + label{
    color: rgb(136, 51, 176);
    font-style: italic;
}

input[type="checkbox"]:checked + label{
    color: red;
    font-style: normal;
}

input[type="checkbox"]:disabled + label{
    color: rgb(246, 246, 246);
    font-style: normal;
}

ul li:first-child{
      background-color: rgb(255, 0, 0);    
}

ul li:last-child{
    background-color: rgb(105, 0, 203);
}

ul li:nth-child(3){
    background-color: rgb(255, 140, 0);
}

ul li:nth-child(5){
    background-color: rgba(21, 255, 0, 0.759);
}

.thank{
    text-align: center;
}

p:empty{
    background-color: black;
    height: 12px;
}

#submit_bt{
    width: 100px;
    height: 40px;
    border: 1px solid rgb(255, 170, 0);
    border-radius: 5px;
}

#submit_bt:hover{
    background-color: blue;
    color: aliceblue;
}